{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'main' %}">Просто магазин</a>
  <img src="{% static 'img/logo.svg' %}" alt="" width="42" height="42">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if request.get_full_path == '/' %} active{% endif %}" href="{% url 'main' %}">
          Главная</a>
      </li>
{% for category in categories %}
    {% if category.get_subcategory %}
        <li class="nav-item {% if category.slug in active %}active{% endif %} dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown{{ category.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category.title }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown{{ category.pk }}">
               {% for sub in category.get_subcategory %}
                    <a class="dropdown-item {% if sub.slug in active %} active{% endif %}" href="{{ sub.get_absolute_url}}">{{ sub.title }}</a>
               {% endfor %}
            </div>

        </li>
    {% else %}
        <li class="nav-item {% if category.slug in active %} active{% endif %}">
            <a class="nav-link" href="{{ category.get_absolute_url }}">
                {{ category.title }}</a>

        </li>
    {% endif %}
{% endfor %}

    </ul>
    <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{% url 'cart' %}">
      Корзина</a>


    <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{% url 'login' %}">
      Войти</a>

  </div>
</nav>
<nav>


</nav>