<div class="text-center p-0 {% if full %}full col-12{% else %}col-12 col-md-6 col-sm-6 col-lg-4 col-xl-3{% endif %}">
    <div class="border rounded my-card m-3 bg-white">
        {% if full %}
            <div class="card-header">
                <h2 class="text-dark">{{ product.title }}</h2>
            </div>
        {% endif %}
        <div class="card-body">
            <a href="{% url 'storefront:catalog' product.get_absolute_url %}">

                    <img class="card-img m-auto" alt="{{ product.title }}" src="{{ product.img.url }}">
            </a>
            <p class="card-title p-3 {% if full %} w-75 text-left {% endif %} ">
                {% if full %}{{ product.description }}{% else %}{{ product.title }}{% endif %}</p>
        </div>
        <div class="card-footer">
            <p class="card-text lead price">{{ product.price }} р.</p>
            <form method="post" action="{% url 'cart:cart_add' product_id=product.id url=request.path %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-outline-secondary" value="Добавить в корзину »">
            </form>

        </div>
    </div>
</div>

