<div class="card text-center {% if full %}full{% endif %}">
<div class="card-header">
    <h2 class="text-dark">{{ product.title }}</h2>
</div>
    <div class="card-body">
        <a href="{{ product.get_absolute_url }}">
            <img class="card-img-bottom " alt="{{ product.title }}" src="{{ product.img.url }}" width="180">
        </a>

        <p class="card-text lead text-left ">{{ product.description }}</p>
    </div>
    <div class="card-footer">
          <form method="post" action="{% url 'cart' %}">
            <input type="hidden" name="csrfmiddlewaretoken"
                   value="N4vcBqzjoYkU7OTDuAT8hq8srpvYX44nJsswuP7e3EYg0Hq8DgxuR0eiXWbSr5RZ">
            <input type="hidden" name="merchandise_id" value="1">
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>

    </div>
</div>

