{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваша корзина
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card shopping-cart d-flex justify-content-center">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Корзина
                <a href="" class="btn btn-outline-info btn-sm pull-right">Продолжить покупки</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">

                {% for item in cart %}
                    {% with product=item.product %}
                        {{ item.product }}
                        <form id="form" action="{% url 'cart:add_unit' product_id=product.id %}" method="post">


                    {% include 'cart/card.html' with product=item.product item=item stock=stock %}
                    </form>
                    {% endwith %}
                {% endfor %}
                <!-- PRODUCT -->

                <div class="pull-right">
                    <button type="submit" class="btn btn-outline-secondary pull-right">
                        Пересчитать
                    </button>
                </div>


            </div>
            <div class="card-footer">
                <div class="pull-right" style="margin: 10px">
                    <a href="" class="btn btn-success pull-right">Оформить заказ</a>
                    <div class="pull-right" style="margin: 5px">
                        Общая сумма: <b>{{ cart.get_total_price}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
