{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваша корзина
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card shopping-cart d-flex justify-content-center">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Корзина
                <a href="{{ referer }}" class="btn btn-outline-info btn-sm pull-right">Продолжить покупки</a>
                <div class="clearfix"></div>
            </div>
         {% if form|length > 0 %}
             <div class="card-body">
                <form id="form" method="post">
                        {% csrf_token %}
                        {{ form.management_form }}
                        {% for item in form %}
                            {% include 'cart/card.html' with form=item %}
                        {% endfor %}
                    </form>
                <div class="pull-right">
                        <button form="form"
                                type="submit"
                                class="btn btn-outline-secondary pull-right"
                                formmethod="post"
                        >
                            Пересчитать
                        </button>
                    </div>
            </div>
             <div class="card-footer">
                <div class="pull-right" style="margin: 10px">
                    {% include 'orders/order_button.html' with form_id='form' %}
                    <div class="pull-right" style="margin: 5px">
                        Общая сумма: <b>{{ cart.get_total_price }}</b>
                    </div>
                </div>
            </div>
         {% else %}
             <div class="card-body">
             <p class="alert alert-dark">Тут пока ничего нет!</p>
             </div>
        {% endif %}

        </div>
    </div>
{% endblock %}
