body {
    padding-top: 3.5rem;
    background-image: linear-gradient(35deg, #eeeeffaa, #eeffffaa, #ffe8a166, #dee2e666);
    min-height: 100vh;
}

main {
    background: transparent;
    margin-bottom: 40px;
}

.card-body .info-img{
    display:flex;
}
.card-img {
    object-fit: contain;
    width: 200px;
    height: 200px;
}
.card-title{
    display: block;
    min-height: 160px ;

}
.price{
    font-size: 2rem;
}

.full .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full .card-footer {
    display: flex;
    justify-content:space-around;
}
.footer {
    position: fixed;
    z-index: 4;
    bottom: 0;
    background-color: var(--light);
}

/*dropdown submenu*/
.dropdown-submenu {
    position: relative;
}

/* cart */
img{
    object-fit: contain;
}

.shopping-cart {
    margin-top: 20px;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* 2 колонки на sm */
@media (max-width: 320px) {
    .card {
        flex:1 100%;
    }
}
@media (max-width: 640px) {
    .card {
        flex:1 50%;
    }
}
@media (max-width: 1280px) {
    .card {
        flex:1 25%;
    }
}
@media (max-width: 1920px) {
    .card {
        flex:1 21%;
    }
}

/* 3 колонки на md */
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3
    }
}

/* 4 колонки на lg и xl */
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        column-count: 4
    }
}
