{% extends "base.html" %}
{% load static %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static "css/login.css" %}"  media="screen,projection"/>
{% endblock %}
{% block content %}

{% if form.errors %}
<p>{{ form.errors}}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form  class="form-registration text-center" method="post" action="{% url 'registration' %}">
  <img class="mb-4" src="{% static 'img/logo.svg'%}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
{% csrf_token %}
    {{ form.username }}
    {{ form.password1 }}
    {{ form.password2 }}


<button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
    <p class="mt-5 mb-3 text-muted">© Просто магазин 2018</p>
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
{% block footer %}{% endblock %}